		html		{ width:100%; height:100%; font-family:OpenSans,"Droid Sans",Verdana,"DejaVu Sans","Bitstream Vera Sans",sans-serif; font-size:clamp(7px, 0.9vw, 12px); line-height:1.4 }
		body		{ width:100%; height:100%; margin:0 }
		a			{ color:#ccebef }
