		html		{ width:100%; height:100%; scrollbar-color:#455a64 #FFFFFF; scrollbar-width:thin }
		body		{ height:100%; line-height:1.4; font-family:'Roboto',sans-serif; font-size:clamp(7px, 0.9vw, 12px); background-color:#cfd8dc; color:#212121; margin:0 }
		div			{ float:left }
		button, .btn	{ height:1.7em; font-family:inherit; font-size:inherit; border:none; padding:0.3em; position:relative; margin-left:0.1em; white-space:nowrap; background-color:#455a64; color:#FFFFFF; border-radius:0.25em; cursor:pointer; transition:background-color 0.3s ease; vertical-align:middle }
		button:hover, .btn:hover { background-color: #0097a7 }
		button:active	{ background-color:#b2ebf2; box-shadow:inset 0 0 0.3125em #c1c1c1; outline:none }
		h2			{ display:inline-block; margin-block-start:0; margin-block-end:0.3em; font-size:clamp(11px, 1.2vw, 16px) }
		h3			{ display:inline-block; margin-block-start:0; margin-block-end:0.5em; font-size:clamp(9px, 1vw, 14px) }
		select		{ font-family:inherit; font-size:inherit; padding:0.1em; position:relative; box-sizing:border-box; background-color:#FFFFFF; scrollbar-color:#455a64 #FFFFFF; scrollbar-width:thin; color:#212121 }
		font		{ font-family:'Roboto',sans-serif!important; font-size:clamp(7px, 0.9vw, 12px)!important }
		a			{ color:#212121 }
